body {
    background: coral;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.assignments {
    display:flex;
    flex-wrap:wrap;
}
.assignment {
    width:30%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 30px;
    background: #84BACC;
    border-radius: 5px;
    box-shadow: 5px 8px #888888;
}
.assignment img {
    width: 500px;
    padding: 10px;
    margin-right: 20px;
    border-radius: 5px;
    display: block;
    margin:auto;
}
h1 {
    color:#BEFFEC;
    text-align: center;
}
a {
    text-decoration:none;
    color:white;
}
.assignment a:hover {
    color: #CC8496;
}