body {
    background: coral;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.assignment {

    
    display: flex;
    padding: 10px;
    margin: 10px;
    background: #84BACC;
}
.assignment img {
    width: 500px;
    padding: 10px;
}
h1 {
    color:#BEFFEC;
    text-align: center;
}
a {
    text-decoration:none;
    color:#CC8496;
}